.sidebar {
    background-color: rgb(251, 251, 255);
    top: 50px;
    width: 10%;
    min-width: 200px;
    border-right: 1px solid #cfd8e4;
}

.sidebar__wrapper {
    padding: 20px;
    color: #555;
    width: 100%;
}

.menu {
    margin-bottom: 10px;
}
z
.menu__title {
    font-size: 13px;
    color: rgb(187, 186, 186);
}

.menu__list {
    list-style: none;
    padding: 5px;
}

.list-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.list-item.active,
.list-item:hover {
    background-color: rgb(240, 240, 255);
}

.list-item__icon {
    margin-right: 10px;
    font-size: 20px !important;
}